[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-migrate = "*"
marshmallow = "*"
flask-marshmallow = "*"
psycopg2-binary = "*"
argon2-cffi = "*"
passlib = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
